html {
    font-size: 62.5%;
    background: url(../img/bg-img-desk.jpg) no-repeat;
    background-size: cover;
    background-position: inherit;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
}
:root {  
  --color-primary: #2b2b2b;
  --default-size: 1.6rem;
}
body {
    font-family: 'Lato', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    background: transparent;
}
* {
    outline: none!important;
}
.form-control:focus,
.btn:focus {
    box-shadow: none!important;
}
p,
.form-control,
label,
.navbar-dark .navbar-nav .nav-link,
button.btn.btn-primary {
    font-size: var(--default-size);
}

header{
    position: absolute;
    height: 100px;
    top: 0;
    width: 100vw;
}

.brand-logo{
    margin: 30px;
}

.brand-logo img{
    width: 200px;
    height: auto;
}

.social-handles img{
    position: absolute;
    width: 40px;
    height: auto;
    top: 30px;
    right: 70px;
}
p {
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #4a4a4a;
}
nav.navbar {
    padding: 1.5rem 0;
    padding-top: 1rem;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255);
    padding: 0 2rem;
}
.register-wrapper {
    max-width: 45rem;
    padding: 3.2rem;
    background: rgba(255, 255, 255, 0.8);
    margin-top: 12rem;
    margin-bottom: 6rem;
    color: #000;
    border-radius: 4px;
    box-shadow: 0 16px 40px rgba(0,0,0,0.12);
}
.register-wrapper form {
    margin-top: 2rem;
}
.form-control {
    padding-top: 0;
    height: 4.5rem;
}
button.btn.btn-primary {
    padding: 1rem 3rem;
    padding-top: 6px;
}
.error-message {
    font-size: 1.4rem;
    color: red;
    display: none;
}
.slider-range-value-1, .slider-range-value-2, .text-btw{
    font-size: 1.6rem;
    display: inline-block;
    margin-top: 10px;
}

.whatsapp{
    text-align: center;
}

.whatsapp a{
    margin-top: 10px;
    font-size: 16px;
}

#feedback{
    display: none;
}

.btn-success{
    background: #7bdb33; 
    border-color: #7bdb55;
    color: white !important;
}

.btn-warning{
    color: white;
}

@media (max-width: 450px){
    html{
        background: url("../img/bg-img-mob.jpg") no-repeat;
    }

.brand-logo{
    margin: 20px;
}

.brand-logo img{
    width: 200px;
    height: auto;
}

.social-handles img{
    position: absolute;
    width: 40px;
    height: auto;
    top: 30px;
    right: 30px;
}
}