html {
    font-size: 62.5%;
}
:root {  
  --color-primary: #2b2b2b;
  --default-size: 1.6rem;
}
body {
    font-family: Arial;
    background: url(../img/header.png) no-repeat;
    background-size: cover;
}
* {
    outline: none!important;
}
.form-control:focus,
.btn:focus {
    box-shadow: none!important;
}
p,
.form-control,
label,
.navbar-dark .navbar-nav .nav-link,
button.btn.btn-primary {
    font-size: var(--default-size);
}

header{
    display: flex;
    justify-content: space-between;
}
.brand-logo,
.social-handles{
    margin: 30px;
}
.social-handles {
    margin-top: 40px;
}
.brand-logo img{
    width: 200px;
    height: auto;
}
.social-handles img{
    width: 40px;
    height: auto;
}
p {
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #4a4a4a;
}
nav.navbar {
    padding: 1.5rem 0;
    padding-top: 1rem;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255);
    padding: 0 2rem;
}
.register-wrapper {
    max-width: 45rem;
    padding: 3.2rem;
    background: rgba(255, 255, 255, 0.5);
    margin-top: 2rem;
    margin-bottom: 6rem;
    color: #000;
    border-radius: 4px;
    box-shadow: 0 16px 40px rgba(0,0,0,0.12);
}
.register-wrapper form {
    margin-top: 2rem;
}
h1.step,
p.form-text {
    font-style: normal;
    font-weight: normal;
    color: rgba(55,52,53,1);
}
h1.step {
    font-family: Georgia; 
    font-size: 40px; 
}
p.form-text {
    line-height: 30px;
    margin-top: 15px;
    font-family: Arial;
    font-size: 18px;
    color: rgba(55,52,53,1);
}
#apartment-details label {
    font-weight: bold;
    font-size: 14px;
    color: rgba(12,13,13,1);
    margin-top: 1rem;
}
.form-control {
    background: rgb(241, 249, 255);
    padding-top: 0;
    height: 4.5rem;
    font-size: 14px;
    color: rgba(55,52,53,0.51);
    border: none;
}
textarea.form-control {
    height: 16.5rem;
    padding: 1rem;
    margin-top: 1rem;
}
button.btn.btn-primary {
    padding: 1rem 3rem;
    padding-top: 6px;
}
.error-message {
    font-size: 1.4rem;
    color: red;
    display: none;
}
.slider-range-value-1, .slider-range-value-2, .text-btw{
    display: inline-block;
    margin-top: 10px;
    font-size: 1.4rem;
    color: rgba(55,52,53,0.702);
}

.btn.btn-primary {
    color: #fff;
}
.btn.btn-primary.next,
.btn.btn-primary.submit {
    background: rgb(123, 219, 85);
    border: 1px solid rgb(123, 219, 85);
    padding-top: 1rem;
    font-weight: bold;
}
.btn.btn-primary.prev {
    background: rgb(55, 52, 53);
    border-color: rgb(55, 52, 53);
}
.btn.btn-primary:hover {
    background: transparent;
    color: #fff;
    border-color: #fff;
}
.whatsapp{
    text-align: center;
}

.whatsapp a{
    margin-top: 10px;
    font-size: 16px;
}

#feedback{
    display: none;
    text-align: center;
}

#feedback h2 {
    font-size: 3.5rem;
}

#feedback img {
    margin: 3rem 0;
}

#feedback p {
    margin: 2rem 0;
}

#feedback .btn.btn-success.btn-continue {
    background: #61d261;
    border-color: #61d261;
    padding: 1rem 2rem;
    padding-top: 7px;
    font-size: 1.6rem;
    color: white !important;
    margin-bottom: 5rem;
}

.bold {
    font-weight: bold;
}

.btn-success{
    background: #7bdb33; 
    border-color: #7bdb55;
    color: white !important;
}

.btn-warning{
    color: white;
}
.spinner {
    display: inline-block;
    opacity: 0;
    max-width: 0;
    -webkit-transition: opacity 0.25s, max-width 0.45s;
    -moz-transition: opacity 0.25s, max-width 0.45s;
    -o-transition: opacity 0.25s, max-width 0.45s;
    transition: opacity 0.25s, max-width 0.45s;
}

.has-spinner.active {
    cursor: progress;
}

.has-spinner.active .spinner {
    opacity: 1;
    max-width: 50px;
    margin-right: 6px;
}


@media (max-width: 450px){
    .brand-logo{
        margin: 20px;
    }

    .brand-logo img{
        width: 200px;
        height: auto;
    }

    .social-handles img{
        position: absolute;
        width: 40px;
        height: auto;
        top: 30px;
        right: 30px;
    }
}